:root {
    --color-box: rgba(50, 56, 139, 0.808);
    --color-mid-btns: white;
    --color-section-border: rgb(0, 0, 85);
}

/* background applied only to cfa home */

.App { 
    background: url(../../assets/banner_images/9.jpg);
    background-size: cover;
    position: fixed;
    z-index: 5;
}
.App:hover {
    cursor: default;
}
/* top banner */

.banner-intro {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-areas:
    ". . ."
    "a a a"
    ". . .";
    grid-template-columns: 5vw 40vw auto;
    grid-template-rows: 20vh 40vh auto ;
    height:73vh;
    width: 100vw;
    margin: 0;
    border-bottom: 5px solid var(--color-section-border);
}

.banner-text {
    /* background-color: var(--color-box); */
    position: relative;
    z-index: 20;
    grid-area: a;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-end; */
    background-color: rgba(0, 0, 0, 0.719);
    padding: 0 0 4rem 10vw ;
}

.banner-text > p {
    font-size: 24px;
    font-weight: normal;
}

.App:hover {
    cursor: default;
}



/* floating buttons/menus on the top banner bottom border */

.banner-intro-box {
    margin: -4rem 5rem -3rem auto;
    width: 60%;
    height: 7rem;
    position: relative;
    z-index: 10;
    background-color: var(--color-mid-btns);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.356);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.banner-intro-box > div {
    display: flex;
    height:70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    padding: 0;
    border-right: 1px solid rgb(161, 161, 161);

    display: flex;
    flex-direction: column;
}
.banner-intro-box > div:last-child {
    border: none;
}

.banner-intro-box > div:hover {
    cursor: pointer;
}


.banner-intro-box span {
    font-size: 20px ;
    color: rgb(77, 77, 77);
    padding-top: 0.6rem;
}

.banner-intro-box > div:hover span {
    color: rgb(3, 3, 54);
}
.banner-intro-box > div svg {
    opacity: 0.6;
    font-size: 3rem;
}
.banner-intro-box > div:hover svg {
    opacity: 1;
}

.empty-div {
    position: relative;
    height: 100px;
    width:100vw;
    background-color: white;
}

/* common banner css */

.banner {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0 8rem 0;
}

.banner-container {
    width: 80vw;
    height: 80%;
    display: grid;
    grid-template-rows: fit-content(30%);
    gap: 4rem;
}

.banner-container .header {
    display: grid;
    grid-template-columns: 30vw auto;
}

.banner-container .header > span {
    font-size: 2.5rem;
    font-weight: bold;
    border-right: 7px solid rgb(28, 30, 124);
}



.banner-desc { /* description next to banner title */
    padding-left: 3rem;
    width: 100%;
    margin: 0;
    color: var(--color-darkgrey);
    font-size: 1.4rem;
    align-self: center;
}

/* spacing columns for cards inside banner */
.col3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.col3 > div {
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2rem;
}

.col3 > div:last-child {
    border: none !important;
}

.desc {
    padding-top: 2rem;
}

.fixed-bg {
    height: 80vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* individual banners */

/* cfk fixed bg */

.cfk-bg {
    background-image: url('../../assets/banner_images/1.png');
}

#cfk-content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    display: grid;
    grid-template-columns: 40vw auto;
    color:white;
}
#cfk-menu {
    height: 100%;
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cfk-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.733);
}
#cfk-summary {
    background-color: rgba(0, 0, 0, 0.185);
}
/* dsfk */

#dsfa-banner {
    background-color: rgb(204, 210, 221);
}

/* dsfa youth */
#dsfa-youth-banner {
  border-bottom: 5px solid var(--color-section-border);
  border-top: 5px solid var(--color-section-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsfa-youth {
    position: relative;
    width: 75vw;
    background: linear-gradient(217deg, rgba(3, 0, 153, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0, 47, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(60, 138, 255, 0.8), rgba(0,0,255,0) 70.71%);
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    align-items: center;
}

.dsfa-youth p {
    position: relative;
    width: 60%;
    color:white;
    padding: 3rem 2rem 8rem 3rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 2rem;
}

.dsfa-youth > div {
    position: relative;
}
.emphasized {
    font-size: 42px;
    font-weight: bold;
}

#dsfa-banner-img img {
    width: 30vw;
    height: auto;
    margin: 0;
    filter: saturate(75%);
}

.border {
    position: absolute;
    top: 0;
    right: -5rem;
    width: fit-content;
    height: fit-content;
}

.border:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1rem;
    left: -2rem;
    background-color: transparent;
    border: 8px solid rgba(71, 71, 230, 0.603);
    z-index: 10;
}

.span-button{
    display: block;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    position: absolute;
    bottom: 2rem;
    left: 10rem;
    padding: 0.8rem 1.8rem 0.8rem 1.8rem;
    /* border: 2px solid rgba(2, 0, 138, 0.514); */
    /* box-shadow: 0px -1px 3px rgb(0, 0, 110) inset; */
    /* border-radius: 5px; */
    background-color: rgba(0, 47, 255, 0.479);
}
.span-button:hover {
    cursor: pointer;
    background-color: rgb(76, 0, 255);
    /* box-shadow: 0px -1px 3px rgba(22, 12, 110, 0.342) inset; */
}

