.App {
    background-image: url(../../assets/banner_images/1.png);
    background-size: cover;
    position: fixed;
}

.cfa-home {
    position: relative;
    z-index: 0;
}
.banner {
    height: 70vh;
    width: 100vw;
    position: relative;
    z-index: 5;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-container {
    width: 80vw;
    height: 80%;
    display: grid;
    grid-template-rows: 5rem auto;
}

.banner-container .header {
    display: grid;
    grid-template-columns: 30vw auto;
}

.banner-container .header > span {
    font-size: 2.5rem;
    font-weight: bold;
    border-right: 5px solid black;
}

#dsfa-banner {
    background-color: rgb(244, 248, 255);
}