.banner-intro {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-areas:
    ". . ."
    ". a ."
    ". . .";
    grid-template-columns: 5vw 40vw auto;
    grid-template-rows: 30vh 40vh auto ;
    height: 80vh;
    width: 100vw;
    border-bottom: 5px solid rgb(23, 23, 73);
    margin: 0;
}



.banner-text {
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 20;
    grid-area: a;
}
