.banner-intro {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-areas:
    ". . ."
    ". a ."
    ". . .";
    grid-template-columns: 5vw 40vw auto;
    grid-template-rows: 20vh 40vh auto ;
    height:80vh;
    width: 100vw;
    margin: 0;
}

.banner-text {
    background-color: rgba(255, 255, 255, 0.753);
    position: relative;
    z-index: 20;
    grid-area: a;
}
