.sec-nav-bar {
    margin: 0;
    padding: 0;
    height: 4rem;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 99;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;;
    color: rgb(53, 53, 53);
    background-color: rgb(255, 255, 255);
  }
  .sec-nav-group > ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem 0 0;
    margin: 0;
    /* border-bottom: 3px solid var(--color-setblue); */
  }

  .sec-nav-item {
    position: relative;
    box-sizing: border-box;
    padding: 1rem 1rem;
    margin: 0 1rem;
    display: inline-block;
    align-self: center;
    height: 3rem;
    font-size: 1.25rem;
    border: none;
    transition: border 2s;
  }

  .sec-nav-item:hover {
    cursor: pointer;
    /* color: rgb(13, 162, 221); */
    /* border-bottom: 2px solid grey; */
  }

  .sec-nav-item:after {
    content: '';
    display: block;
    margin-top: 5px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  .sec-nav-item:hover:after {
    width: 100%;
    background: grey;
  }

