.sec-navbar {
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.733);
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }
  
  .sec-navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 2rem 0 0;
  }